{% extends 'opencmis/student-base.html' %}
{% block title %}{{ student}}{% endblock %}
{% block baseline-active %}active{% endblock %}
{% block student-body %}
    {% for e in baseline_list %}
        <div class="panel panel-default">
            <div class="panel-heading">{{e.entry}}</div>
            <div class="panel-body">
                {% for i in e.data %}
                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;{{i.week}}&nbsp;<a href="{% url 'opencmis:student-update' student.id %}"><span
                    class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        <!-- |add:"0" forces a string to int.-->
                        <!-- |add:"0" simply adds 0 if it is already an int -->
                        {% if e.entry.id|add:"0" == header|add:"0" %}
                            <textarea rows="4" cols="50">

                            </textarea>
                        {% else %}
                            {{i.text|linebreaks}}
                        {% endif %}

                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}} - {{header}}</div>
                </div>
                {% empty %}
                    <div class="alert alert-warning" role="alert">
                        <strong>There are no records to display.</strong>
                    </div>
                {% endfor %}
                <a href="{% url 'opencmis:baseline-add' student.id e.entry.pk %}">

                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <strong>There are no qualifications to display.</strong>
        </div>
    {% endfor %}
{% endblock %}