{% for field in form %}
<!--Try to use as much Bootstrap formatting as is possible -->
<!--But {{field}} autogens controls making it difficult to add classes -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-4" for="{{field.id_for_label}}">
            {{ field.label }}
        </label>
        <div class="col-sm-8">{{ field }}</div>
    </div>
{% endfor %}