{% extends 'opencmis/student-base.html' %}
{% block title %}{{student}}{% endblock %}
{% block qualification-active %}active{% endblock %}
{% block student-body %}
    {% for qual in qual_list %}
        <div class="row">
            <div class="col-md-6">{{qual.qualification}}</div>
            <div class="col-md-2">{{qual.start}}</div>
            <div class="col-md-2">{{qual.expected_end}}</div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <strong>There are no qualifications to display.</strong>
        </div>
    {% endfor %}
    <div class="row">
            <a href="{% url 'opencmis:student-qualification-create' student.id %}">
                <span class="glyphicon glyphicon-plus-sign" area-hidden="true"></span>
                &nbsp;&nbsp;Add Qualification
            </a>
    </div>

{% endblock %}
